<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="tests" thread-count="2">
    <test thread-count="5" name="Add Remove item">
        <classes>
            <class name="uk.co.automationtesting.AddRemoveIItemBasketTest"/>
        </classes>
    </test>
    <test thread-count="5" name="Order complete test">
        <classes>
            <class name="uk.co.automationtesting.OrderCompleteTest"/>
        </classes>
    </test>
</suite>